*{
    background: #000;
}
main{
    margin: 0 auto;
    margin-bottom: 6rem;
}

header{
    color: #fff;
    font-size: 3em;
    text-align: center;
    font-weight: bold;
    margin-bottom: 2rem;
}
section{
   float: left;
    width: 30%;
    height: auto;
    color: #fff;
    margin-left: 10px;
    
  

}

section > .active {
    
    height: 350px;
    border: 1px solid rgb(1, 231, 1);
   

}
section > .active > .headerActive{
    color: rgb(1, 231, 1);
    font-size: 24px;

}

section .active  p{
 text-align: center;
 padding-top: 6rem;
 color: rgb(1, 231, 1);
 font-size: 2rem;
}

section > .death {
    height: 350px;
    border: 1px solid rgb(231, 3, 3);
   

}
section > .death > .headerDeath{
    color: rgb(231, 3, 3);
    font-size: 24px;

}

section .death  p{
 text-align: center;
 padding-top: 6rem;
 color:rgb(231, 3, 3);
 font-size: 2rem;
}

section > .recovered {
    height: 350px;
    border: 1px solid rgb(176, 252, 0);
   

}
section > .recovered > .headerRecovered{
    color: rgb(176, 252, 0);
    font-size: 24px;

}

section .recovered  p{
 text-align: center;
 padding-top: 6rem;
 color:rgb(176, 252, 0);
 font-size: 2rem;
}
footer{
    float: left;
    padding-left: 10px;
    width: 100%;
    height: 50px;
    color: white;
    font-size: 20px;
}